:root{
    --font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --dark: #322132;
}
body{
    background-color: rgb(235, 220, 245);
}
header{
    width:auto;
    display: flex;
    background-color: rgb(226, 174, 239);
    color: rgb(86, 54, 87);
    font-family: var(--font-family);
    height: 70px;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 5px;
}
main{
    display: flex;
}
.search-section{
    display: flex;
    flex-direction: column;
}
aside{
    float: left;
}
#location{
    margin-left: 20px;
    width: 340px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--dark);   
}
#search{
    margin: 10px;
    margin-left: 20px;
    font-size: large;
    width:350px;
    border-radius: 5px;
}
section{
    flex: 1 1 0;
    float: right;    
}
#weather{
    background-color: rgb(234, 208, 241);
    height: 180px;
    margin: 20px;
    padding: 15px;
}
.weather-location{
    padding: 10px;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: bold;
    margin-left: 5px;
    color: var(--dark);
}
span{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
#imgWeather{
    float: right;
    margin-right:100px;
    margin-top: -45px;
}
.forecastItem{
    display: table;
}
 #search{
    background-color: rgb(146, 121, 143);
    font-family: var(--font-family);
    font-size: 20px;
}
h2{
    margin-left: 20px;
    font-family: var(--font-family);
    color: #341d34;
}
hr{
    width:350px;
    border:#341d34 1px outset;
    margin-left: 20px;
}
#recentLocations{
    margin-left: 10px;
}
button {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    height: 40px;
    width: 350px;
    font-size: 15px;
    background-color: #c7afc7;
    border-radius: 5px;
    border: var(--dark);
    margin-left: 10px;
}
.temperature{
    padding: 5px;
    font-family: var(--font-family);
    color: var(--dark);
    font-size: 15px;
}
.wind{
    padding: 5px;
    font-family: var(--font-family);
    color: var(--dark);
}
.humidity{
    padding: 5px;
    font-family: var(--font-family);
    color: var(--dark);
}
.forecast-temp{
    padding: 5px;
}
.forecast-wind{
    padding: 5px;
}
.forecast-humidity{
    padding: 5px;
}
li{
    float: left;
    padding: 10px;
    background-color: #c7afc7;
    width: 160px;
    height: 220px;
    margin: 10px;
    border-radius: 10px;
    font-family: var(--font-family);
}
.forecastName{
    font-weight: 100;
    color: var(--dark);
    font-family: var(--font-family);
}